---
layout: archive
author_profile: true
sidebar:
    nav: list
---

 I am a ruby lover,if you too love ruby then this blog is just for you. <br/>
 After searching resources for learning algorithms and data-structures in ruby when i didn't find any good resource. <br/>
 So, I took this initiative to build a platform for learning and discussing Algorithms and data-structures in ruby.
 This blog aims to be a platform where anyone can learn algorithms and data-structures in ruby. 
 Please contribute on Github and share this platform with all other ruby lovers.<br/>
 The code feautured here can be found on <a href="https://github.com/kumar91gopi/Algorithms-and-Data-Structures-in-Ruby"><b>Github</b></a>.
 
{% include base_path %}
{% capture written_label %}'None'{% endcapture %}

{% for collection in site.collections %}
  {% unless collection.output == false or collection.label == "posts" %}
    {% capture label %}{{ collection.label }}{% endcapture %}
    {% if label != written_label %}
      <h2 id="{{ label | slugify }}" class="archive__subtitle">{{ label }}</h2>
      {% capture written_label %}{{ label }}{% endcapture %}
    {% endif %}
  {% endunless %}
  {% for post in collection.docs %}
    {% unless collection.output == false or collection.label == "posts" %}
      {% include archive-single.html %}
    {% endunless %}
  {% endfor %}
{% endfor %}
